[Unit]
Description=Incoming Chatmail Postfix before queue filter 

[Service]
RuntimeDirectory=chatmail-filtermail
RuntimeDirectoryMode=0750
ExecStart=/usr/local/lib/chatmaild/venv/bin/chatmail-filtermail-wrapper {{ bin_path }} {{ config_path }} incoming
Restart=always
RestartSec=30
User=vmail

[Install]
WantedBy=multi-user.target
